Temp.0/
proj.droid/
proj.ios/
Library/AtlasCache/
Library/metadata/
Library/ShaderCache/
Library/ScriptAssemblies/
Library/UnityAssemblies/
Library/shadercompiler*
Library/CurrentLayout.dwlt
droid/
obj/
Temp/
Screenshots/
melchemistry.userprefs
*.sln
*.csproj
*.booproj
*.unityproj
.vs/
init.apk
